/* title */

.navbar{
   background-color: RGBA(255,255,255,0.3);
}
.navbar-brand{
  font-size: 35px;
  font-family: 'Bungee Shade', cursive;

}
.nav-link{
  font-size: 25px;

}
.title-image{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.title-headline{
  color: #fff;
  padding: 110px 60px;
  width: 100px;
}
.nav-link{
  font-weight: bold;
}
.header1{
  font-family: 'Merienda One', cursive;
  font-size: 50px;
}
@media (max-width: 740px) {
  .title-headline{
    padding: 0 ;
    font-size: 10px;
    position: absolute;
    z-index: -1;
    top: 80px;
  }
}
/* Bikes */
#features{
  position: relative;
  z-index: 1;
  background-color: #fff;
  top: 300px;
}

.features{
  padding: 150px 0;
  text-align: center;

}
.lineup-img{
width: 60%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.header2{

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

/* news and updates */
#news{
  background-color: #f0ece3;
  position: relative;
  top: 300px;
  color: #000;

  padding:100px 20px;;
  text-align: center;
}

.header3{
  padding: 30px;
}
.news-img-1{
  height: 500px;
  width: 650px;
  padding: 10px;
}
.news-img-2{
  width: 400px;
  padding: 10px;
}
.news-img-3{
  width: 400px;
  padding: 10px;
}
.news-headlines{
  color: #000;
  padding-left: 20px;
  text-align: center;
}




/* details */

.details{
  background-color: #ffe8df;
  padding: 22.5% 0 0 0;
}
.padding{
  padding-left: 4%;
}
.details-headline{
color: #011;
padding-top: 30%;
font-weight: bold;
}
.first-btn{
color: #fff;
padding: 10px 20px;
margin: 5% 0;
}
.detailsimg{
  width: 105%;
}
.details-headline2{
  padding-top: 20%;
  font-weight: bold;
}
.details-headline3{
  padding-top: 30%;
  font-weight: bold;
}
.details-headline4{
  font-weight: bold;
  padding-top: 30%;
}
/* info */

.Info{
  padding: 80px 20px;

  background-color: #000;
  color: #fff;
}
.link{
  color: #888888;
  padding: 0 60px;
  font-size: 15px;
  text-decoration: none !important;
}
.link:hover{
  color: #FFf;
}
.head{
  padding: 20px 60px;
}
